


    body{ 
        font-family: 'Rubik', sans-serif;
        -webkit-background-size: cover;
        background-image: url("test.png");
        background-size: 100% 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;

       

    }
    div#form{
        float: left;
        text-align: left;
    }
    label{
    font-size: 20px;
    }
    legend{
            font-size: 30px;
             }
    p{
    text-align: justify;
    }

    p.middle {
    text-align: center;
    }

     div#test { display: inline-block; 
     float: left;}
     ul#descriptions li { text-align: left; 
     list-style-type: none;
     
    }

    ul#menu{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;

    }

    ul#menu li {
    float: left;
    font-family: 'Roboto Slab', serif;

    }
    ul#menu li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    ul#menu li a:hover {
        background-color: #111;
    }
    ul#pictures li{
    display:inline;
     list-style-type:none;


    }

